@font-face {
  font-family: "Boilover";
  src: url("./Boilover-Regular.woff2") format("woff2"), url("./Boilover-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-Light.woff2") format("woff2"), url("./Boilover-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-ExtraLight.woff2") format("woff2"), url("./Boilover-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-Thin.woff2") format("woff2"), url("./Boilover-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-Medium.woff2") format("woff2"), url("./Boilover-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-SemiBold.woff2") format("woff2"), url("./Boilover-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-Bold.woff2") format("woff2"), url("./Boilover-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-ExtraBold.woff2") format("woff2"), url("./Boilover-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Boilover";
  src: url("./Boilover-Black.woff2") format("woff2"), url("./Boilover-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
